/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

#content {
  margin-top: 90px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}

.form-profile {
  max-width: 600px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05)
}
.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.margerBottom{
  margin-bottom: 15px;
}
.btnWidth{
  width: 100%;
}
.flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.margText{
  margin-right: 5px;
}
.margTopSmall{
  margin-top: 5px;
}
.iframeItem {
  width: 100%;
  max-width: 350px;
  margin-bottom: 15px;
  margin-right: 20px;
}
.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flexEnd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.span-with-margin {
  margin-right: 5px;
}

.link-without-underline {
  text-decoration: none !important;
}

.post {
  /* max-width: 800px; */
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
}

.f6 {
  font-size: 12px !important;
}

.text-grey {
  color: #9199a1 !important;
}
@media (max-width: 991px){
  .container {
      margin: 0;
    }
}